{% extends 'blog/base.html' %}
{% load static %}

    {% block content %}
        <div class="add-post-header mt-4 mb-4" style="text-align: center;">
            <h1>Write new blog post</h1>
        </div>

        <div class="container">
            <div class="col-md-6 offset-md-3">
               <form method="post" enctype="multipart/form-data">
               {% csrf_token %}
               {{form.media}}
                <div class="row mb-3">
                    <div class="col">
                      <label for="title" class="form-label">Post title</label>
                      <!-- {{form.title}} -->
                      <input type="text" name="title" class="form-control">
                    </div>
                </div>
                  <div class="row mb-3">
                    <div class="col">
                      <label for="cover_image" class="form-label">Cover Image</label>
                      <input type="file" name="cover_image" class="form-control">
                      <!-- {{form.cover_image}} -->
                    </div>
                    <div class="col">
                      <label for="date_published" class="form-label">Date</label>
                      <!-- {{form.date_published}} -->
                      <input type="datetime-local" name="date_published" class="form-control">
                    </div>
                  </div>
                  <!-- <div class="row mb-3">
                    <div class="d-grid gap-2 col-6 mx-auto">
                      <label for="author" class="form-label">Author</label>
                      <input type="text" name="author" class="form-control" placeholder="{{user.username}}">
                      {{form.author}}
                    </div>
                  </div> -->
                  <div class="row mb-3">
                    <div class="col">
                      <label for="status" class="form-label">Status</label>
                      <select name="status" class="form-control">
                          <option value="">--select--</option>
                          <option value="draft">draft</option>
                          <option value="published">published</option>
                      </select>
                      <!-- {{form.status}} -->
                    </div>
                    <div class="col">
                      <label for="category" class="form-label">Category</label>
                      <select name="category" class="form-control">
                        <option value="">--select--</option>
                        {% for c in categories %}
                          <option value="{{c.id}}">{{c}}</option>
                        {% endfor %}
                      </select>
                      <!-- {{form.category}} -->
                    </div>
                  </div>
                  <div class="row mb-3">
                    <!-- <div class="col">
                      <label for="body" class="form-label">Post Body</label>
                      <textarea name="body" class="form-control" cols="30" rows="10"></textarea>
                    </div> -->
                    <label for="body" class="form-label">Post Body</label>
                    {{form.body}}
                  </div>
                  <div class="d-grid gap-2 col-6 mx-auto mb-5">
                    <button class="btn btn-primary" type="submit" value="Submit">Post Blog</button>
                  </div>
               </form>
            </div>
        </div>
    {% endblock %}