{% extends 'blog/base.html' %}
{% load static %}

  {% block content %}
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      {% for category in categories %}
      <a class="p-2 link-secondary" href="{% url 'category' category.name %}">{{ category|title }}</a>
      {% endfor %}
    </nav>
  </div>

<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        {% for blog in blogs|slice:":1" %}
      <h1 class="display-4 fst-italic">{{ blog.title }}</h1>
      {% autoescape on %}
      <p class="lead my-3">{{ blog.summary|safe }}</p>
      {% endautoescape %}
      <p class="lead mb-0"><a href="{% url 'detail_view' blog.id %}" class="text-white fw-bold">Continue reading...</a></p>
        {% endfor %}
    </div>
  </div>

  <div class="row mb-2">
    <h3>Trending...</h3>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          {% for blog in blogs|slice:"1:2" %}
          <strong class="d-inline-block mb-2 text-primary">{{blog.category}}</strong>
          <h3 class="mb-0">{{blog.title}}</h3>
          <div class="mb-1 text-muted">{{blog.date_published}}</div>
          <!-- <p class="card-text mb-auto">{{blog.summary}}</p> -->
          <a href="{% url 'detail_view' blog.id %}" class="stretched-link">Read Article</a>
          
        </div>
        <div class="col-auto d-none d-lg-block">
          {% if blog.cover_image %}
          <img src="{{blog.cover_image.url}}" alt="" class="bd-placeholder-img" width="200" height="250">
          {% else %}
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          {% for blog in blogs|slice:"2:3" %}
          <strong class="d-inline-block mb-2 text-success">{{blog.category}}</strong>
          <h3 class="mb-0">{{blog.title}}</h3>
          <div class="mb-1 text-muted">{{blog.date_published}}</div>
          <!-- <p class="mb-auto">{{blog.summary}}</p> -->
          <a href="{% url 'detail_view' blog.id %}" class="stretched-link">Read Article</a>
          
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="{{blog.cover_image.url}}" alt="" class="bd-placeholder-img" width="200" height="250">
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Recently Read
      </h3>

      <article class="blog-post">
        {% for blog in blogs|slice:"3:4" %}
        <h2 class="blog-post-title">{{blog.title}}</h2>
        <p class="blog-post-meta">{{blog.date_published}} by <a href="#">{{blog.author}}</a></p>

        <div>
          <img src="{{blog.cover_image.url}}" alt="" width="600" height="250">
        </div>
        <p>{{blog.body|safe}}</p>
        {% endfor %}
      </article>

    </div>

    <div class="col-md-4">
      <!-- <div class="p-4 mb-3 bg-light rounded">
        <h4 class="fst-italic">About</h4>
        <p class="mb-0">Saw you downtown singing the Blues. Watch you circle the drain. Why don't you let me stop by? Heavy is the head that <em>wears the crown</em>. Yes, we make angels cry, raining down on earth from up above.</p>
      </div> -->

      <div class="p-4">
        <h4 class="fst-italic">Archives</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">March 2014</a></li>
          <li><a href="#">February 2014</a></li>
          <li><a href="#">January 2014</a></li>
          <li><a href="#">December 2013</a></li>
          <li><a href="#">November 2013</a></li>
          <li><a href="#">October 2013</a></li>
          <li><a href="#">September 2013</a></li>
          <li><a href="#">August 2013</a></li>
          <li><a href="#">July 2013</a></li>
          <li><a href="#">June 2013</a></li>
          <li><a href="#">May 2013</a></li>
          <li><a href="#">April 2013</a></li>
        </ol>
      </div>

      <div class="p-4">
        <h4 class="fst-italic">Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </div>

  </div><!-- /.row -->

</main><!-- /.container -->
  {% endblock %}